body {
    background-color: rgb(40, 40, 40);
    margin: 10%;
    font-family: 'Radio Canada', sans-serif;
    color:rgb(199, 196, 196);
}
a{
    text-decoration: none;
    color:rgb(73, 73, 223)
}
.skillslist,.navlist {
   text-transform: uppercase;
   display: inline;
   font-size: medium;
   color: rgb(73, 73, 223);
   padding-left: 5px;
   font-weight: bold;
   padding-right: 10px;
}
#projectbox {
    width: 100%;

}
.projects {
    width: 95%;
    padding: 5%;
    margin: 1%;
    align-content: center;
    background-position: center;
    background-size: cover;
    background-color:  rgb(180, 176, 176);
}


#gallery {
    border: 1px solid rgb(255, 255, 255);
    max-width: 900px;
    position: relative;
    background-color:  rgb(180, 176, 176);
 }

 .galleryImage {
    display: none;
 }

 img {
    margin: auto;
    display: block;
    max-width: 100%;
 }
 .galleryButton {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px 16px;
    margin-top: -22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;    
 }
 .back {
    left:2%;
 }
 .forward {
    right: 2%;
 }
 .back:hover, .forward:hover {
    color: rgb(255, 253, 253);
    background-color: rgba(63, 63, 194);   
 }
 footer{
    margin: 10px;
 }